.collapse-card {
  cursor: pointer;
}
.command-name{
  margin-bottom: 0px!important;
}
code {
  color: #e83e8c;
  background: #e0ffe8;
}
.note-bullet{
  color: red
}

.note > li {
  font-size: 14px;
  padding: 0;
}